{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PichanGO</title>
    <link rel="shortcut icon" href="Images/ball.icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static './css/buscajuego.css' %}" >
    <link rel="stylesheet" href="{% static './css/table.css' %}" >
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>

</head>
<body>
    <div class="wrapper">
    <div class="w3_baner">  
        <!--header-->
        <header class ="header">

            <nav class="nav-main">
                <ul>
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="#">CANCHAS</a></li>
                    <li><a href="{% url 'register' %}">REGISTRAR</a></li>
                    <li><a class="active" href="{% url 'login' %}">INICIA SESIÓN</a></li>
                </ul>
            </nav>
        </header>
        <!--main-->
        <main class= "main">  
            <div class="search">

                <p>Fecha: <input type="text" id="datepicker"></p>

                <br>
                <p>Busca partidos creados en pichanGO</p>

                <table class="table-dark">  
                    <tr>
                        <th>Cancha</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Distrito</th>
                        <th>Costo/Hora</th>
                        <th>Inscrit@s</th>
                    </tr>
                        {% for item in data.all %}
                        <tr>
                            <td><a href="{% url 'detail' item.id %}">{{ item.cancha.nombre }}</a></th>
                            <td><a href="{% url 'detail' item.id %}">{{ item.fecha }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">{{ item.hora }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">{{ item.cancha.distrito }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">S/{{ item.cancha.costo_por_hora }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">{{ item.jugador.all | length }}</a></td>
                        </tr>
                        {%  endfor   %}

                </table>

        </section>
        </main>
  
        <!--footer-->
        <footer class="footer">

        </footer>

    </div>
    </div>

</body>
</html>