{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PichanGO</title>
    <link rel="shortcut icon" href="Images/ball.icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static './css/styles1.css' %}" >
    <link rel="stylesheet" href="{% static './css/table.css' %}" >

</head>
<body>
    <div class="wrapper">
    <div class="w3_baner">  
        <!--header-->
        <header class ="header">
                <figure>
                    <img src="{% static './Images/logosmall.png' %}" alt="logo" class="logo">
                </figure>

        </header>
        <!--main-->
        <main class= "main">  
            <p>Pichangas actuales disponibles:</p>
            <div class="search">
                <table class="table-dark">
                    <thead> 
                        <tr>
                            <th>Cancha</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Distrito</th>
                            <th>Costo/Hora</th>
                            <th>Inscrit@s</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr>
                        {% for item in data.all %}
                            <td><a href="{% url 'detail' item.id %}">{{ item.cancha.nombre }}</a></th>
                            <td><a href="{% url 'detail' item.id %}">{{ item.fecha }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">{{ item.hora }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">{{ item.cancha.distrito }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">S/{{ item.cancha.costo_por_hora }}</a></td>
                            <td><a href="{% url 'detail' item.id %}">{{ item.jugador.all | length }}</a></td>
                        {%  endfor   %}
                        </tr>
                    </tbody>
                </table>
                <br>
                <form action="/buscajuegos/" method="GET">
                    <input type="text" name='q' class="searchTerm" placeholder="Distrito o nombre de cancha">
                    <input  type="submit" name="submit" class="submit" onClick="window.location='listajuegos'; "value="Buscar"></input>
                </form>
            </div>
                    <P>Juega en cualquier momento, en cualquier lugar </P>
                <div class="form">
                    <input type="submit" name="submit" class="submit-1" onclick="window.location='register'; "value="Registrate"></input>
                    <input type="submit" name="submit" class="submit-1" onclick="window.location='login';"value="Inicia Sesión"></input>
                </div>

                <div class="row">
                    <div class="column">
                        <h2 id="headline1">Como jugar?</h2>
                        <p id="about-us"> Si eres nuevo en PichanGo! <br> no te preocupes, acá encontrarás  toda la información que necesites para empezar a JUGAR!!! </p>
                    </div>
                    <div class="column">
                        <video width="550" height="450" controls>
                            <source src="{% static 'Images/videoplayback.mp4' %}">
                        </video>
                    </div>
                </div>
        </section>
        </main>
  
        <!--footer-->
        <footer class="footer">

            <p>Copyrtight &copy; 2020, Capsium Creative Agency  </p>
        </footer>

    </div>
    </div>

</body>
</html>