{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PichanGO</title>
    <link rel="shortcut icon" href="Images/ball.icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static './css/juego.css' %}" >
    <link rel="stylesheet" href="{% static './css/table.css' %}" >

</head>
<body>
    <div class="wrapper">
    <div class="w3_baner">  
        <!--header-->
        <header class ="header">
            <div class="nav-bar">
                <nav class="nav-main">
                    <ul>
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="#">CANCHAS</a></li>
                        <li><a href="{% url 'register' %}">REGISTRAR</a></li>
                        
                    </ul>
                </nav>
            </div>
        </header>
        <!--main-->
        <main class= "main">  
                    <div class="infojuego">
                        <p>{{ data.fecha}} | {{data.hora}}</p>
                        <p>Lugar: {{ data.cancha}} - {{ data.cancha.direccion}} {{ data.cancha.distrito }} </p>
                        <p>{{ data.descripcion}}</p>
                        <a href="{% url 'register' %}"><button>Inscribirse</button></a>
                    </div>
                    <div class="peloterosinscri">
                        <p>Pichanguer@s inscritos:</p>
                        
                        <table class="table-dark">
                            <tr>
                                <th >Pichanguer@</th>
                                <th >Distrito</th>
                                <th >Posición</th>
                                <th >Descripción</th>
                            </tr>
                                {% for item in data.jugador.all %}
                                <tr>
                                    <td >{{ item.usuario.first_name }} {{ item.usuario.last_name }}</td>
                                    <td>{{ item.distrito }}</td>
                                    <td>{{ item.posicion }}</td>
                                    <td>{{ item.descripcion }}</td>
                                    
                                </tr>
                                {%  endfor   %}
                        </table>
                    </div>
        </main>
  
        <!--footer-->
        <footer class="footer">

        </footer>

    </div>
    </div>

</body>
</html>